# Ignore everything by default
/*

# Model checkpoints
# (EfficientNet-B0 is 16MB, which safely fits inside GitHub's 100MB limit!)
!/*.pth
!/app.py
!/inference.py
!/image_checks.py
!/database.py

# Allow FAISS files and thumbnails for "Similar Cases"
!/faiss_index.bin
!/faiss_filenames.json
!/thumbnails/
!/thumbnails/*

# Allow standard repo files
!/.gitignore
!/README.md
!/requirements.txt
!/documentation.md
